<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div x-show="sidebarOpen" class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
	<div
		x-show="sidebarOpen"
		x-transition:enter="transition-opacity ease-linear duration-300"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition-opacity ease-linear duration-300"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
		class="fixed inset-0 bg-gray-900/80"
	></div>

	<div class="fixed inset-0 flex">
		<div
			x-show="sidebarOpen"
			x-transition:enter="transition ease-in-out duration-300 transform"
			x-transition:enter-start="-translate-x-full"
			x-transition:enter-end="translate-x-0"
			x-transition:leave="transition ease-in-out duration-300 transform"
			x-transition:leave-start="translate-x-0"
			x-transition:leave-end="-translate-x-full"
			class="relative mr-16 flex w-full max-w-xs flex-1"
		>
			<div
				x-show="sidebarOpen"
				x-transition:enter="ease-in-out duration-300"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				x-transition:leave="ease-in-out duration-300"
				x-transition:leave-start="opacity-100"
				x-transition:leave-end="opacity-0"
				class="absolute left-full top-0 flex w-16 justify-center pt-5"
			>
				<button type="button" class="-m-2.5 p-2.5" @click="sidebarOpen = false">
					<span class="sr-only">Menüyü kapat</span>
					<svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>

			<!-- Sidebar component -->
			<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4">
				<div class="flex h-16 shrink-0 items-center">
					<h1 class="text-lg font-bold text-gray-900">Gelir Gider Takip</h1>
				</div>
				<nav class="flex flex-1 flex-col">
					<ul role="list" class="flex flex-1 flex-col gap-y-7">
						<li>
							<ul role="list" class="-mx-2 space-y-1">
								<li>
									<a
										href="/panel"
										class="<%= path === '/panel' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
									>
										<svg
											class="h-6 w-6 shrink-0"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
											/>
										</svg>
										Ana Sayfa
									</a>
								</li>
								<li>
									<a
										href="/panel/categories"
										class="<%= path === '/panel/categories' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
									>
										<svg
											class="h-6 w-6 shrink-0"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"
											/>
										</svg>
										Kategoriler
									</a>
								</li>
								<li>
									<a
										href="/panel/incomes"
										class="<%= path === '/panel/incomes' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
									>
										<svg
											class="h-6 w-6 shrink-0"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
											/>
										</svg>
										Gelirler
									</a>
								</li>
								<li>
									<a
										href="/panel/expenses"
										class="<%= path === '/panel/expenses' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
									>
										<svg
											class="h-6 w-6 shrink-0"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
											/>
										</svg>
										Giderler
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
	<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
		<div class="flex h-16 shrink-0 items-center">
			<h1 class="text-lg font-bold text-gray-900">Gelir Gider Takip</h1>
		</div>
		<nav class="flex flex-1 flex-col">
			<ul role="list" class="flex flex-1 flex-col gap-y-7">
				<li>
					<ul role="list" class="-mx-2 space-y-1">
						<li>
							<a
								href="/panel"
								class="<%= path === '/panel' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
							>
								<svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
									/>
								</svg>
								Ana Sayfa
							</a>
						</li>
						<li>
							<a
								href="/panel/categories"
								class="<%= path === '/panel/categories' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
							>
								<svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"
									/>
								</svg>
								Kategoriler
							</a>
						</li>
						<li>
							<a
								href="/panel/incomes"
								class="<%= path === '/panel/incomes' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
							>
								<svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
									/>
								</svg>
								Gelirler
							</a>
						</li>
						<li>
							<a
								href="/panel/expenses"
								class="<%= path === '/panel/expenses' ? 'bg-gray-50 text-primary-600' : 'text-gray-700 hover:text-primary-600 hover:bg-gray-50' %> group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
							>
								<svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								Giderler
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
